{%extends "base.html"%}
{%block body%}

<div id="landing-page">
    <div class="row">
        <div class="col m5 s12 intro-section">
            <span><h1>Snap it, Rate it, Share it.</h1></span>
            <div class="col s6">
                <a href = "#" class="waves-effect waves-light btn-large social facebook">
                <i class="fa fa-facebook"></i> Sign in with facebook</a>
            </div>
            <div class="col s6">
                <a href = "#" class="waves-effect waves-light btn-large social google">
                <i class="fa fa-google"></i> Sign in with google</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}